In [1]:
library(tidyverse)
library(broom)
library(repr)
library(digest)
library(infer)
library(gridExtra)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6      ✔ purrr   0.3.4
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.2      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Attaching package: ‘gridExtra’


The following object is masked from ‘package:dplyr’:

    combine

In [3]:
data <- read.csv("/home/jovyan/Group Project/stat201-group-project/crimedata_csv_Hastings-Sunrise_2021.csv")
head(data)

  TYPE               YEAR MONTH DAY HOUR MINUTE HUNDRED_BLOCK
1 Theft from Vehicle 2021 8     17  21   57     1XX RENFREW ST
2 Theft from Vehicle 2021 9     20  20   45     20XX CASSIAR ST
3 Theft from Vehicle 2021 3      5   3   30     20XX CASSIAR ST
4 Theft from Vehicle 2021 2     15  12    0     21XX KAMLOOPS ST
5 Theft from Vehicle 2021 6     28  12    0     21XX LILLOOET ST
6 Theft from Vehicle 2021 4     14   3    0     21XX NANAIMO ST
  NEIGHBOURHOOD    X        Y
1 Hastings-Sunrise 496804.9 5459011
2 Hastings-Sunrise 497740.0 5457015
3 Hastings-Sunrise 497740.0 5457017
4 Hastings-Sunrise 496024.4 5456995
5 Hastings-Sunrise 497165.9 5456990
6 Hastings-Sunrise 495887.6 5456922